
.footer{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.line {
    height: 2px;
    width: 95%; /* Adjust the width as needed */
    background-color: #000; /* Adjust the color as needed */
    margin: 0 auto; /* Center the line horizontally */
    margin-top: -2px;
}
.logo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;

}
.margin-right{
    margin-left: auto;
}


nav a{
    color:rgb(24, 24, 24);
    text-decoration:none;
    padding:10px 5px;
    
  
} 


/* .item-count{
    margin-top: -6px;
    position: absolute;
} */

.custom-link {
    padding:10px 0px;
    font-size: 24px;
    display:block;
    color: rgb(23, 47, 156);
    list-style:none;  
  }
